{% extends 'base.html.twig' %}

{% block body %}
<h1>Dashboard</h1>
<h2><a href="{{ path('logout') }}">Logout</a></h2>
<p>Date : <span id="date"></span></p>
<p>
    Welcome <strong>{{ app.user.username }}</strong> !<br/>
    Name of your company : {{ app.user.companyName }}<br/>
    Balance : {{ app.user.balance }} €<br/>
    Research rank : {{ app.user.researchRank }}
</p>
{% for datacenter in datacenters %}
    <h2>Datacenter</h2>
    <p>
        Type : {{ datacenter.typeDatacenter.name }} (max rack number : {{ datacenter.typeDatacenter.maxRack }})<br/>
        Max power : {{ datacenter.typeElectricity.power }} W<br/>
        Power usage : <span id="datacenter{{ datacenter.id }}_powerUsage">0</span> W<br/>
        Power used : <span id="datacenter{{ datacenter.id }}_kwh"></span> kWh<br/>
        Internet speed : {{ datacenter.typeInternet.speed }} Mbps<br/>
        Internet bandwidth usage : <span id="datacenter{{ datacenter.id }}_wanUsage">0</span> Mbps
    </p>
    <!--<div id="datacenter{{ datacenter.id }}_powerGauge" class="gauge"></div>
    <div id="datacenter{{ datacenter.id }}_wanGauge" class="gauge"></div>-->
    {% for rack in datacenter.racks %}
        <h3>Rack</h3>
        {% for server in rack.servers %}
            <h4>Server</h4>
            <p>
                CPU usage : {{ server.usageCpu }} MHz<br/>
                RAM usage : {{ server.usageRam }} MB<br/>
                HDD usage : {{ server.usageHdd }} GB<br/>
                LAN usage : {{ server.usageLan }} Mbps<br/>
                WAN usage : <span id="server{{ server.id }}_wanUsage">{{ server.usageWan }}</span> Mbps<br/>
                Power consumption : <span id="server{{ server.id }}_power">0</span> W
            </p>
        {% endfor %}
    {% endfor %}
{% endfor %}
{% endblock %}

{% block javascripts %}
<script src="{{ asset('js/raphael-2.1.4.min.js') }}"></script>
<script src="{{ asset('js/justgage.js') }}"></script>

<script type="text/javascript">
var gauges = [];

{% for datacenter in datacenters %}
/*gauges[{{ datacenter.id }}] = [];
gauges[{{ datacenter.id }}]['power'] = new JustGage({
    id: "datacenter{{ datacenter.id }}_powerGauge",
    value: 0,
    min: 0,
    max: {{ datacenter.typeElectricity.power }},
    title: "Power usage",
    formatNumber: true
});
gauges[{{ datacenter.id }}]['wan'] = new JustGage({
    id: "datacenter{{ datacenter.id }}_wanGauge",
    value: 0,
    min: 0,
    max: {{ datacenter.typeInternet.speed }},
    title: "Internet usage",
    formatNumber: true,
    decimals: 1
});*/
{% endfor %}


var conn = new WebSocket('ws://{{ ws_server_ip }}:{{ ws_server_port }}');
conn.onopen = function(e) {
    console.log("Connection established!");
};

conn.onmessage = function(e) {
    console.log(e.data);
    var data = JSON.parse(e.data);

    document.getElementById("date").innerHTML = data.date;

    for (var key in data.datacenters) {
        document.getElementById("datacenter"+key+"_powerUsage").innerHTML = data.datacenters[key].power_usage;
        document.getElementById("datacenter"+key+"_kwh").innerHTML = data.datacenters[key].kwh;
        document.getElementById("datacenter"+key+"_wanUsage").innerHTML = data.datacenters[key].wan_usage;
        /*gauges[key]['power'].refresh(data.datacenters[key].power_usage);
        gauges[key]['wan'].refresh(data.datacenters[key].wan_usage);*/
    }

    for (var key in data.servers) {
        document.getElementById("server"+key+"_power").innerHTML = data.servers[key].power;
        document.getElementById("server"+key+"_wanUsage").innerHTML = data.servers[key].wan_usage;
    }
};
</script>
{% endblock %}
