{% extends 'base.html.twig' %}

{% block body %}
<h1>Dashboard</h1>
<h2><a href="{{ path('logout') }}">Logout</a></h2>
<p>Date : <span id="date"></span></p>
<p>
    Welcome <strong>{{ app.user.username }}</strong> !<br/>
    Name of your company : {{ app.user.companyName }}<br/>
    Balance : {{ app.user.balance }} €<br/>
    Research rank : {{ app.user.researchRank }}
</p>
{% for datacenter in datacenters %}
    <h2>Datacenter</h2>
    <p>
        Type : {{ datacenter.typeDatacenter.name }} (max rack number : {{ datacenter.typeDatacenter.maxRack }})<br/>
        Max power : {{ datacenter.typeElectricity.power }} W<br/>
        Internet speed : {{ datacenter.typeInternet.speed }} Mbps
    </p>
    {% for rack in datacenter.racks %}
        <h3>Rack</h3>
        {% for server in rack.servers %}
            <h4>Server</h4>
            <p>
                CPU usage : {{ server.usageCpu }} MHz<br/>
                RAM usage : {{ server.usageRam }} MB<br/>
                HDD usage : {{ server.usageHdd }} GB<br/>
                LAN usage : {{ server.usageLan }} Mbps<br/>
                WAN usage : {{ server.usageWan }} Mbps<br/>
                Power consumption : <span id="server{{ server.id }}_power">0</span> W
            </p>
        {% endfor %}
    {% endfor %}
{% endfor %}
{% endblock %}

{% block javascripts %}
<script type="text/javascript">
var conn = new WebSocket('ws://172.16.0.9:8080');
conn.onopen = function(e) {
    console.log("Connection established!");
};

conn.onmessage = function(e) {
    console.log(e.data);
    var data = JSON.parse(e.data);
    document.getElementById("date").innerHTML = data.date;
    for (var key in data.servers) {
        document.getElementById("server"+key+"_power").innerHTML = data.servers[key].power;
    }
};
</script>
{% endblock %}
