{% extends 'base.html.twig' %}

{% block body %}
<h1>Dashboard</h1>
<h2><a href="{{ path('logout') }}">Logout</a></h2>
<p>
    Welcome <strong>{{ app.user.username }}</strong> !<br/>
    Name of your company : {{ app.user.companyName }}<br/>
    Balance : {{ app.user.balance }} €<br/>
    Research rank : {{ app.user.researchRank }}
</p>
{% endblock %}
